<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Expense Tracker</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/public/main.css">
</head>
<body>
    <header>
        <img id="logo" src="/public/ftg-logo.png" alt="The FinTech Guru">
        <nav>
            <p>Home |</p>
            <p>Blog |</p>
            <p>About</p>
        </nav>
    </header>
    <main>
        <h1>The FinTech Guru Expense Tracker</h1>
        <p style="font-size: 20px; margin-top: 50px; margin-bottom: 250px;">You have successfully signed up for an account. Please <a href="/views/index.html">return to the login page.</a></p>
    </main>
    <footer>
        <div>
            <p>Privacy</p>
            <p>Contact</p>
            <p>&copy; The FinTech Guru 2018</p>
        </div>
    </footer>
</body>
</html>