html {
    box-sizing: border-box;
}

body {
    background-color: #D7D7D7;
}

#logo {
    width: 200px;
    height: 97px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 10px;
}

nav {
    display: flex;
    flex-direction: row;
}

nav p {
    font-size: 22px;
    font-weight: bold;
    padding: 20px 10px 0px 0px;
}

#HL-page {
    display: flex;
    flex-direction: column;
}

#inputs-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 800px;;
}

#expense-box,
#budget-box {
    background-color: whitesmoke;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    padding: 40px 40px 40px 40px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#expense-box {
    margin-left: 10px;
}

#budget-box {
    margin-right: 10px;
}

#graph-box {
    margin-top: 40px;
}
