html {
    box-sizing: border-box;
}

body {
    background-color: #D7D7D7;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 0;
}

#logo {
    width: 200px;
    height: 97px;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    flex-wrap: wrap;
}

nav {
    display: flex;
    flex-direction: row;
}

nav p {
    font-size: 14px;
    font-weight: bold;
    padding: 20px 10px 0px 0px;
}

#HL-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#inputs-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#expense-box,
#budget-box {
    background-color: whitesmoke;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    padding: 40px 40px 40px 40px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    width: 350px; 
    font-size: 12px;
    height: 280px;
}

legend {
    text-align: center;
    font-size: 18px;
}

.btn {
    width: 100%;
    margin-top: 5px;
}

.btn-budget {
    height: 25px;
    font-size: 12px;
    margin-top: 0px;
    width: 65px;
    justify-self: right;
    padding-top: 4px;
}

#label-shopping,
#label-housing,
#label-transportation,
#label-healthcare,
#label-other {
    width: 100px;
    margin-right: 5px;
} 

#monthly-graph-container {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#fullyear-graph-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#monthly-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#shopping-div,
#housing-div,
#trans-div,
#healthcare-div,
#other-div,
#amt-div,
#cat-div,
#date-div {
    display: flex;
    flex-direction: row;
    align-items: top;
    margin-top: 5px;
    max-height: 25px;
}

#amt-div,
#cat-div,
#date-div {
    justify-content: space-between;
}

#table-box {
    width: 100%;
}

#shopping-budget,
#housing-budget,
#transportation-budget,
#healthcare-budget,
#other-budget {
    width: 100px;
    text-align: right; 
    justify-self: right;
}

.graph-box {
    display: flex;
    flex-direction: column;
}

.graph-title {
    background-color: #337ab7;
    color: white;
    padding: 5px;
    text-align: center;
}

footer {
    background-color: darkgray;
    margin-top: 150px;
    padding: 20px;
    text-align: right;
}

footer p {
    margin: 0px;
}


@media screen and (min-width: 768px) {
    #inputs-box {
        flex-direction: row;
    }

    #expense-box {
        margin-right: 10px;
    }

    #budget-box {
        margin-left: 10px;
    }

    #monthly-graph-container {
        flex-direction: row;
    }

    #fullyear-graph-container {
        flex-direction: row;
    }

    nav p{
        font-size: 16px;
    }
}