html {
    box-sizing: border-box;
}

body {
    background-color: #D7D7D7;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#logo {
    width: 200px;
    height: 97px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 10px;
}

nav {
    display: flex;
    flex-direction: row;
}

nav p {
    font-size: 22px;
    font-weight: bold;
    padding: 20px 10px 0px 0px;
}

#HL-page {
    display: flex;
    flex-direction: column;
}

#inputs-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1200px;;
}

#expense-box,
#budget-box {
    background-color: whitesmoke;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    padding: 40px 40px 40px 40px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    width: 455px; 
}

#expense-box {
    margin-left: 10px;
}

#budget-box {
    margin-right: 10px;
}

legend {
    text-align: center;
}

.btn {
    width: 100%;
    margin-top: 5px;
}

#graph-container {
    margin-top: 40px;
}

#graph-box {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#monthly-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#shopping-div,
#housing-div,
#trans-div,
#healthcare-div,
#other-div,
#amt-div,
#cat-div,
#date-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5px;
}

#table-box {
    max-width: 1200px;
}

#shopping-budget,
#housing-budget,
#transportation-budget,
#healthcare-budget,
#other-budget {
    max-width: 150px;
    text-align: right; 
    justify-self: right;
}